*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#f4f4f4;
    color:#222222;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
}

header{
    background:#ffffff;
    border-bottom:1px solid #dddddd;
    padding:20px 0;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h2{
    color:#2563eb;
}

nav a{
    text-decoration:none;
    color:#333333;
    margin-left:20px;
}

nav a:hover{
    color:#2563eb;
}



.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    color:#666666;
    font-size:18px;
}


section{
    margin:40px auto;
}

section h2{
    margin-bottom:20px;
}

.upload-box{
    background:#ffffff;
    padding:30px;
    border:1px solid #dddddd;
    border-radius:8px;
    text-align:center;
}

input[type="file"]{
    margin-bottom:20px;
}

/* Buttons */

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#1d4ed8;
}

button:disabled{
    background:#999999;
    cursor:not-allowed;
}



.preview-card,
.summary-card,
.flashcard{

    background:#ffffff;
    border:1px solid #dddddd;
    border-radius:8px;
    padding:25px;
    margin-top:20px;

}

.summary-card h3{
    margin-top:20px;
    margin-bottom:10px;
}

.summary-card li{
    margin-left:20px;
    margin-bottom:8px;
}


.keyword{
    display:inline-block;
    background:#dbeafe;
    color:#1d4ed8;
    padding:6px 12px;
    margin:5px;
    border-radius:5px;
    font-size:14px;
}


.flashcard hr{
    margin:20px 0;
}

#prevFlash,
#nextFlash{
    margin-top:20px;
    margin-right:10px;
}

footer{
    background:#ffffff;
    border-top:1px solid #dddddd;
    text-align:center;
    padding:25px;
    margin-top:50px;
}

footer h3{
    color:#2563eb;
    margin-bottom:10px;
}

footer p{
    color:#666666;
}



@media(max-width:768px){

    header .container{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        gap:15px;
    }

    .hero h1{
        font-size:30px;
    }

}